@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}

.text-glow-red {
    text-shadow: 0 0 10px rgba(239, 68, 68, 0.7);
}

.bg-glass {
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
}

@keyframes scanline {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #000;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}
::-webkit-scrollbar-thumb {
    background: #450a0a;
    border-radius: 0;
    transition: background 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #dc2626;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #450a0a #000;
}
